body {
  background-image: url("img/WelcomeBkg.jpg");
}

/*Main window settings*/
#main {
  text-align:left;
}

#Welcome {
  font-size: 1500%;
  padding: 0;
  margin: 0;
  padding-left: 5%;
  font-family: "Oswald";
}

#UnderConstruct p {
  margin: 0;
  width: 50%;
  text-align: left;
  position: relative;
  top:-80px;
  left: 50%;
  font-family: "Oswald";
font-size: 12pt;
}

#footer p {
    
}
